<div class="container tab-item">
    <div class="row">
        <div class="col-md-12">
            <div class="header-message">
                <div class="header-message__icon">
                    <span class="glyphicon--inverse glyphicon glyphicon-alert"></span>
                </div>
                <div class="header-message__text">
                    <p class="header__text">Please complete the table below</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <table class="table table-hover">
                    <thead class="table__header">
                    <tr>
                        <th>Description of Corrective Action*</th>
                        <th>Action Taken By (name)*</th>
                        <th>Company*</th>
                        <th>Date*</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="emptyList">
                        <td>#</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-mouseover="ctrlBtn = true"
                        ng-mouseleave="ctrlBtn = false"
                        ng-repeat="rowItem in actionList track by $index">
                        <td>{{rowItem.description}}</td>
                        <td>{{rowItem.name}}</td>
                        <td>{{rowItem.company}}</td>
                        <td>{{rowItem.date| dateFilter}}</td>
                        <td>
                            <div ng-class="{'button-hidden':!ctrlBtn}" class="btn-group btn-group-sm" role="group"
                                 aria-label="...">
                                <button type="button" data-toggle="modal" data-target="#actionFormModal"
                                        ng-click="editRow($index)" class="btn btn-default table-action btn-edit"
                                        ng-model="btnEdit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" ng-click="removeRow($index)"
                                        class="btn btn-default table-action btn-remove"
                                        ng-model="btnRemove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <!--  <tr><action-table-directive></action-table-directive></tr>-->

                    <!--<tr>
                        <td>
                            <span>3</span>
                            <textarea class="form-control" rows="2"></textarea></td>
                        <td>
                            <span>Larry</span>
                            <input class="form-control" type="text" id="ContactNumber"
                                   placeholder="405.235">
                        </td>
                        <td>
                            <span>the Bird</span>
                            <select class="form-control" id="CompanyReporter">
                                <option disabled selected> &#45;&#45; select &#45;&#45;</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default table-action btn-add"><span
                                        class="glyphicon glyphicon-plus"
                                        aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default table-action btn-edit"><span
                                        class="glyphicon glyphicon-pencil"
                                        aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default table-action btn-remove"><span
                                        class="glyphicon glyphicon-ok"
                                        aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default table-action btn-apply"><span
                                        class="glyphicon glyphicon-remove"
                                        aria-hidden="true"></span></button>
                            </div>
                        </td>
                    </tr>-->
                    </tbody>
                </table>

                <div class="panel-body">
                    <button type="button" class="btn btn-primary btn-add pull-right " data-toggle="modal"
                            ng-click="addRow()"
                            ng-disabled="tableLimit"
                            data-target="#actionFormModal"
                            data-whatever=""><span
                            class="glyphicon glyphicon-plus"
                            aria-hidden="true"></span> Add new
                    </button>


                </div>
                <div ng-show="tableLimit" class="panel-footer text-center panel-footer--alert">
                    Table limit - 5 records!
                </div>
            </div>
        </div>


        <div class="modal fade" modal-directive id="actionFormModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Add new Corrective Action</h4>
                    </div>
                    <div class="modal-body">
                        <form name="modalForm">
                            <div class="form-group">
                                <label for="description-text" class="control-label">Description of Corrective
                                    Action *:</label>
                                <textarea ng-model="modalActionDescription" class="form-control"
                                          id="description-text" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="action-name" class="control-label">Action
                                    Taken By (name) *:</label>
                                <input ng-model="modalActionName" type="text" class="form-control" name="actionName"
                                       id="action-name" required>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="company-name">Company *:</label>
                                <select class="form-control" id="company-name" ng-model="modalActionCompany" required>
                                    <option disabled selected> -- select --</option>
                                    <option ng-repeat="item in company track by $index"
                                            value="{{item.name}}">{{item.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="action-date">Date *:</label>
                                <input type="date" class="form-control" id="action-date" name="input"
                                       ng-model="modalActionDate"
                                       required/> <!--min="01-01-2015" max="12-31-2017"-->
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <button ng-click="close()"
                                ng-model="addEditMode"
                                ng-show="!EditMode"
                                type="button"
                                class="btn btn-primary"
                                ng-disabled="!modalForm.$valid"
                                > <!--data-dismiss="modal" -->
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true"></span> Add
                        </button>
                        <button ng-click="edit()"
                                type="button"
                                ng-model="addEditMode"
                                ng-show="EditMode"
                                class="btn btn-primary"
                                ng-disabled="!modalForm.$valid"
                                > <!--data-dismiss="modal" -->
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true"></span> Apply
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var focusBtns = document.getElementsByClassName("table-action");
    var disableFocus = function () {
        this.blur();
        ;
        //  console.log('hi blur')
    };
    for (var i = 0; i < focusBtns.length; i++) {
        focusBtns[i].addEventListener('click', disableFocus, false);
    }
</script>